@tailwind base;
@tailwind components;
@tailwind utilities;

.fb-bg-color {
    background-color: #3b5998
}

.instagram-bg-color {
    background-color: #d62976
}

.twitter-bg-color {
    background-color: #1DA1F2
}

.youtube-bg-color {
    background-color: #c4302b
}

.light-mode {
    color: #000;
}

.dark-mode {
    color: #fff;
}

body {
    background-color: #4A556B;
}